
# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Angular
.angular/
dist/

# Expo / React Native
.expo/
.expo-shared/
web-build/

# General
.cache/
.vite/

# Dependencies
node_modules/


# Build
dist/
.angular/


# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

